extends layout

block content
  .row.banner
    .col-12.review-header
      h1= title
      p Welcome to #{title}
  .row
    .col-12
      .card.card-primary.review-header
        .card-block
          h2 Descrizione
          p #{description}

  .row
    .col-12.col-md-6.offset-md-3
      .card.card-primary.review-card
        .card-block
          a.btn.btn-primary.btn-lg.btn-block(href=`/login`) vota
          a.btn.btn-primary.btn-lg.btn-block(href=`/result`) risultati