extends layout

block content 
    .row.banner
        .col-12.review-header
            h1= title
        
    .row 
        .col-12
            .card.review
                h3 Dove preferite trascorrere le vacanze?
        .card-group
            .card
                img.featurette-image.img-fluid.mx-auto(src='/images/mare.jpg', style='position:center', width='800' height='550')
                .card-body
                h5.card-title Mare
            .card
                img.featurette-image.img-fluid.mx-auto(src='/images/montagna.jpg', style='position:center', width='800' height='550')
                .card-body
                h5.card-title Montagna